activemq/sample1/src/main/resources/si.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://www.st0kke.experiements.org/ShippingInstruction" xmlns:si="http://www.st0kke.experiements.org/ShippingInstruction">
 --> 
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="si-data">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="shipment-number"/>
        <xs:element type="xs:string" name="bill-number"/>
        <xs:element type="xs:string" name="pickup-country"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="si-meta-data">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="filename"/>
        <xs:element type="xs:string" name="image-type"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="si-image" type="xs:string"/>
</xs:schema>